body {
  font-family: 'Montserrat', sans-serif;
}


#title {
  background: #ff4c68;
  color: white;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-size: 3.5rem;
line-height: 1.5;
padding-bottom: 20px;
}


.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.download-button{
  margin:5% 3% 5% 0;
}


.img-rotate {
  width: 60%;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
