body {
  font-family: 'Montserrat', sans-serif;
}


#title {
  background: #ff4c68;
  color: white;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-size: 3.5rem;
line-height: 1.5;
padding-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
  font-size: 0.8rem;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.download-button{
  margin:5% 3% 5% 0;
}


.img-rotate {
  width: 60%;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
}

#features {
  text-align: center;
  padding:7% 15%;
}

.feature-box {
  padding: 5%;
}

.feat-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feat-icon:hover {
  color:#ff4c68;
}


/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.testimonial-text {
  padding: 0 15%;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 5%;
  margin: 1%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 5% 0;
}

.press-image {
  width: 10%;
  margin: 0 15px;
}

.carousel {
  padding: 5% 15%;
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
